/*
 *
 *  ID: 1750655
 * Author: Jiajie Li
 *
 * Description: The mobile version of TodoMVC, the final project
 * of scripting program design in the School of Software Engineering
 * of Tongji University
 *
 */
body {
  font-family: "Helvetica Neue"
}

.list-item {
  padding: 20px;
  height: 5%;
  border-bottom: black;
  border-bottom: dashed;
}

.list-item.completed {
}

.list-item .content {
  padding-top: 6;
  transition: all 0.5s ease-out;
  display: inline-block;
  min-width: 200px;
  font-size: 22px;
  margin-top: 3px;
}

.list-item.completed .content {
  padding-top: 6;
  transition: all 0.5s ease-out;
  text-decoration: line-through;
  color: #aaa;
  font-size: 22px;
  margin-top: 3px;
}

.list-item .delete {
  font-size: large;
  font-style: italic;
  padding-top: 5;
}

#todoInput {
  float: left;
  width: 85%;
  height: 100%;
  line-height: 40px;
  font-size: 30px;
  color: #555;
}

#bundle_op_2 {
  float: left;
  width: 100%;
  height: 10%;
  line-height: 40px;
  font-size: 30px;
  color: #555;
  background: #fff;
  border: #000 2px solid;
}

#addButton {
  float: right;
  width: 15%;
  height: 100%;
  background: #000;
  color: white;
}

.header-font {
  width: 100%;
  font-size: 40px;
  padding: 16px;
  background: #000;
  color: white;
}

.footer-fixed {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
}

.iconfont {
  padding-top: 6;
  width: 15%;
  float: left;
  font-size: 30px !important;
}
.icon-todolist-choose:before {
  padding-top: 6;
  font-size: 30px !important;
}

.icon-todo:before {
  padding-top: 6;
  font-size: 30px !important;
}

.delete {
  width: 15%;
  height: 90%;
  float: right;
  background-color: #000;
  color: #ffffff;
}

#myModel {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 100px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
#myModel2 {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 100px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.model-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.model-head,
.model-footer {
  padding: 2px 16px;
  background: #000;
  color: white;
  font-size: 20px;
  margin: 0;
}
.model-footer {
  padding: 20px;
}
.model-body {
  padding: 0 10px;
}
.close {
  color: #ffffff;
  font-size: 30px;
  float: right;
  font-weight: bolder;
  margin: 10px;
}
.close:hover {
  cursor: pointer;
  color: #000;
}

body {
  margin: 0;
}

#edit_note_confirm {
  width: 30%;
  float: left;
  padding-left: 50%;
}

.time_picker {
  width: 10%;
}

.model_line {
  padding: 1%;
}

#edit_info {
  width: 100%;
}

.model_lastline {
  margin-bottom: 20px;
  padding: 1%;
}

.bundle-op {
  position: fixed;
  left: 0;
  bottom: 10%;
  height: 5%;
  width: 100%;
}

#complete-all {
  margin-left: 3%;
  margin-right: 3%;
  font-size: 18px;
  padding: 5px 3%;
  background: #000;
  color: white;
  width: 25%;
  float: left;
}

#todo-all {
  margin-right: 3%;
  font-size: 18px;
  padding: 5px 3%;
  background: #000;
  color: white;
  width: 25%;
  float: left;
}

#clear-all {
  margin-right: 3%;
  font-size: 18px;
  padding: 5px 3%;
  background: #000;
  color: white;
  width: 15%;
  float: right;
}

#sort {
  font-size: 18px;
  padding: 2px 10px;
  color: white;
  width: 10%;
  float: right;
  margin-top: 2.5%;
  margin-right: 5%;
  border-left: white;
  border-left: solid;
}

#cam {
  font-size: 18px;
  padding: 2px 10px;
  color: white;
  width: 10%;
  float: right;
  margin-top: 2.5%;
  border-left: white;
  border-left: solid;
}

.Med-Pri {
  width: 2%;
  height: 100%;
  float: left;
  background: rgba(219, 165, 16, 0.966);
  margin-right: 20;
}

.High-Pri {
  width: 2%;
  height: 100%;
  float: left;
  background: red;
  margin-right: 20;
}

.Low-Pri {
  width: 2%;
  height: 100%;
  float: left;
  background: rgb(1, 87, 1);
  margin-right: 20;
}

#activeDiv {
  font-size: 22px;
  margin-left: 15px;
  padding-top: 10px;
}

.output_canvas {
  width: 96%;
}

.video_canvas {
  border: solid;
  padding: 2%;
}

.input_video {
  width: 96%;
}

.camera_canvas{
  width:100%
}